<%- include('partials/header.ejs') %>

  <body>

    <h1>Updating Quote Data</h1>
    <p>
      <a href="/">← Back to Home</a>
    </p>

    <form method="POST" action="/quote/edit">

      <input type="hidden" name="quoteId" value="<%=quoteInfo[0].quoteId%>">

      Quote:
      <input type="text" name="quote" value="<%=quoteInfo[0].quote%>">
      <br>

      Author:
      <select name="authorId">
        <% authors.forEach(author=> { %>
          <option value="<%= author.authorId %>" <%=author.authorId===quoteInfo[0].authorId ? "selected" : "" %>>
            <%= author.firstName %>
              <%= author.lastName %>
          </option>
          <% }) %>
      </select><br><br>

      Category:
      <select name="category">
        <% categories.forEach(category=> { %>
          <option value="<%= category.category %>" <%=category.category===quoteInfo[0].category ? "selected" : "" %>>
            <%= category.category %>
          </option>
          <% }) %>
      </select><br><br>

      <button>Update Quote</button>


    </form>
  </body>
  <%- include('partials/footer.ejs') %>