<%- include('partials/header.ejs') %>
<body>
  
  <h1>Updating Author Data</h1>

    <form method="POST" action="/author/edit">

      <input type="hidden" name="authorId" value="<%=authorInfo[0].authorId%>">

      First Name:
      <input type="text" name="fName" value="<%=authorInfo[0].firstName%>">
      <br>

      Last Name:
      <input type="text" name="lName" value="<%=authorInfo[0].lastName%>">
      <br>
      
      Date of Birth:
      <input type="date" name="dob"  value="<%=authorInfo[0].dobISO%>">
      <br>

      Date of Death:
      <input type="date" name="dod" value="<%=authorInfo[0].dodISO%>"><br>

      Sex:  
        <input type="radio" name="sex" value="M" 
        
        <% if (authorInfo[0].sex == "M") { %>
          checked 
        <% } %>
        
        > Male

        <input type="radio" name="sex" value="F" 
        
        <% if (authorInfo[0].sex == "F") { %>
          checked 
        <% } %>
        
        > Female
       <br>
       Profession:
       <input type="text" name="profession" value="<%=authorInfo[0].profession%>"><br>
       Country:
       <input type="text" name="country" value="<%=authorInfo[0].country%>"><br>
       Portrait:
       <input type="text" name="portrait" value="<%=authorInfo[0].portrait%>" placeholder="ex.'https://www.uploade.wikimedia.org/..."><br>
       Biography:
       <input type="text" name="biography" value="<%=authorInfo[0].biography%>"><br>
      
      <button>Update Author</button>


    </form>   
</body>
 <%- include('partials/footer.ejs') %>
